<header id="header-container">
    <nav>
        <ul>
            <li id="logo-container">Logo here!!</li>
            <li><button>Home</button></li>
            <li *ngIf="sessionActive"><button>Lobby</button></li>
            <li><button>About</button></li>
            <li>
                <div id="links-icon-container">
                    <div id="facebook-icon">F</div>
                    <div id="github-icon">G</div>
                    <div id="instagram-icon">I</div>
                </div>
            </li>
        </ul>
    </nav>
</header>
