#header-container {
    width: 100% auto;
    background: linear-gradient(to bottom, #655EB6 50%, #FF0000 500%);
    font-family: 'Inter', sans-serif;
    height: 111px;
}
#logo-container {
  display: flex;
  padding-top: 2em;
  padding-left: 1em;
}
#logo-container h1 {
  color: white;
  font-size: 24px;
  font-weight: 900;
}
#logo-container #tac-Style {
  color: #7870DA;
}
#logo-container #toe-Style {
  color: #FF5E5E;
}
#logo-container img {
  align-self: center;
  margin: 1em;
  width: 30px;
  height: 30px;
  filter: drop-shadow(1em, 1em, 1em black);
}
#header-container h3 {
  position:sticky;
  width: 100%;
  text-align: right;
  font-size: 24px;
  color: white;
  transform: translateY(-3em) translateX(-1em);
  margin-right: 2em;
}

