<header id="header-container">
    <nav>
        <ul>
            <li id="logo-container">Logo here!!</li>
            <li><a [routerLink]="['']">Home</a></li>
            <li *ngIf="sessionActive"><a [routerLink]="['lobby']">Lobby</a></li>
            <li>
                <div id="links-icon-container">
                    <div id="facebook-icon">F</div>
                    <div id="github-icon">G</div>
                    <div id="instagram-icon">I</div>
                </div>
            </li>
        </ul>
    </nav>
</header>
