<div *ngIf="isSessionActive" id="joinSesh-outerContainer">
  <h1>Join Session   <button (click)="onJoin()">Join</button></h1>
  <span style="color: red" *ngIf="serverErrMsg" >{{serverErrMsg}}</span><br>
  <input (focus)="onFocusChallengeInput()"
  [(ngModel)]="sessionIDSeed"
  id="challengerName"
  name="challengerName"
  type="text"
  placeholder="Enter Session ID"><br>
  <input (focus)="onFocusUserInput()"
  [(ngModel)]="username"
  id="username"
  name="username"
  type="text"
  placeholder="Enter as ex:'MyName'">
</div>
