<div *ngIf="isSessionActive" id="joinSesh-container">
  <h1>Join Session</h1>
  <span style="color: red" *ngIf="serverErrMsg" >{{serverErrMsg}}</span><br>
  <input (focus)="onFocusChallengeInput()"
  [(ngModel)]="sessionIDSeed"
  id="challengerName"
  name="challengerName"
  type="text"
  placeholder="Enter Session ID"><br>
  <input (focus)="onFocusUserInput()"
  [(ngModel)]="username"
  id="username"
  name="username"
  type="text"
  placeholder="Enter as ex:'MyName'">
  <button (click)="onJoin()">Join</button>
</div>
