<div id="lobby-container">
  <div *ngIf="isHostActive">
    <button (click)="endSession()">End Session</button>
  </div>

  <!-- display the session id hostname  -->
  <div *ngIf="sessionID || isOpponentJoin">
    <h4>CurrentSession ID: {{ sessionID }}</h4>
    <h4>Host Name: {{ hostname }}</h4>
  </div>
  <div *ngIf="!isOpponentJoin && isHostActive; else showInfo">
    <h2>waiting for opponent...</h2>
  </div>
  <ng-template #showInfo>
    <h4>Opponent Name: {{ opponentName }}</h4>
  </ng-template>
  <div>
    <h1 [(ngModel)]="waitMessage" *ngIf="waitMessage">{{ waitMessage }}</h1>
  </div>
  <div *ngIf="winner">{{ winner }}</div>
  <div *ngIf="isHostActive">
    <button *ngIf="isReady" (click)="onRestart()"> restart game </button>
  </div>
  <app-tictactoe-board></app-tictactoe-board>
  <div *ngIf="isHostActive">
    <button *ngIf="!isReady" (click)="onStart()">Start Game</button>
  </div>
  <div *ngIf="!isHostActive">
    <button *ngIf="!isReady" (click)="onReady()">Ready</button>
  </div>
</div>
