<div id="lobby-outerContainer">
  <!-- display the session id hostname  -->
  <div id="currentUser-container" *ngIf="sessionID || isOpponentJoin && isHostActive">
    <div id="currentUserName-container">
      <img loading="lazy" src="../../../assets/images/userIcon.jpg" alt=""> 
      <h4>{{ currentUser }}</h4>
    </div>
    <div id="currentUserBtn-container">
      <img loading="lazy" src="../../../assets/images/endSeshIcon.jpg" alt="">
      <button (click)="endSession()">End Session</button>
    </div>
  </div>
  <div *ngIf="!isOpponentJoin && isHostActive; else showInfo">
    <h2>waiting for opponent...</h2>
  </div>
  <ng-template #showInfo>
    <h4>Opponent Name: {{ opponentName }}</h4>
  </ng-template>
  <div>
    <h1 [(ngModel)]="waitMessage" *ngIf="waitMessage">{{ waitMessage }}</h1>
  </div>
  <div *ngIf="winner">{{ winner }}</div>
  <div *ngIf="isHostActive">
    <button *ngIf="isReady" (click)="onRestart()"> restart game </button>
  </div>
  <!-- create a an active and unactive status for each session -->
  <app-tictactoe-board></app-tictactoe-board>
  <div *ngIf="isHostActive">
    <button *ngIf="!isReady" (click)="onStart()">Start Game</button>
  </div>
  <div *ngIf="!isHostActive">
    <button *ngIf="!isReady" (click)="onReady()">Ready</button>
  </div>
</div>
