<div id="home-outerContainer">
  <!-- <h1>Winner: {{ anyWinner }}</h1> -->
  <div id="intro-container">
    <h1>How to start ?</h1>
    <p>To start a game, fill up and
      click create at bottom and it will
      show you a session ID which you will
      need to share for other player’s
      to join. </p>
      <div id="banner-ImageContainer"></div>
  </div>
  <div id="createJoinSession-outerContainer">
    <div id="sectionBar-Container">
      <button class="isActive">Create</button>
      <button class="defaultStyleBtn">Join</button>
    </div>
    <app-create-session-comp></app-create-session-comp>
    <!-- <app-join-session-comp></app-join-session-comp> -->
  </div>
</div>
