#home-outerContainer {
  width: 100vw;
  font-family: 'Inter', sans-serif;
}
#intro-container {
  margin: 2em;
}
#intro-container h1 {
  font-size: 16px;
  color: #D04B90;
}
#intro-container p {
  font-family: 'Nova Mono', monospace;
  font-size: 16px;
}
#banner-ImageContainer {
  width: 263px;
  height: 344px;
  background: url('../../../assets/images/bannerImageTictactoe.jpg');
  background-size: contain;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}
#createJoinSession-outerContainer {
  background-color: #FF5E5E;
  width: 100%;
  height: 300px;
  bottom: 0;
  color: white;
  box-shadow: inset 0rem 3.5rem 0.5rem black;
}
#sectionBar-Container {
  width: 100vw;
  background-color: white;
}
#sectionBar-Container button {
  font-size: 18px;
  font-weight: bold;
  margin-right: 2rem;
  border: 0;
}
#sectionBar-Container button:hover {
  cursor: pointer;
  color: #cecce8;
}
.isActive {
  background-color: #FF5E5E;
  padding: 1em;
  color: white;
  box-shadow: inset 0.1rem 0.3rem 0.5rem rgb(109, 47, 47);
}
.defaultStyleBtn {
  color: #655EB6;
  background-color: white;
}
